{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product list</h1>

    <div>
        <a href="#" class="btn btn-primary" role="button" onclick="submitToCart()">Add to Cart</a>
    </div>

    <div class="table-container">
        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Regular Price</th>
                <th>Sale Price</th>
                <th>Stock</th>
                <th>Qty Stock</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>
                        <input type="checkbox" name="select{{ product.id }}" value="{{ product.id }}"
                               class="productSelect"/>
                    </td>
                    <td>
                        {{ product.title }}
                    </td>
                    <td>
                        {{ product.regular_price ? product.regular_price|number_format(2) : 0|number_format(2) }}
                    </td>
                    <td>
                        {{ product.sale_price ? product.sale_price|number_format(2) : 0|number_format(2) }}
                    </td>
                    <td>
                        {{ product.in_stock ? 'Yes' : 'No' }}
                    </td>
                    <td>
                        {{ product.managing_stock ? product.stock_quantity : 'No need' }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <ul class="pagination">
        {% for i in 1..pages %}
            <li {{ page == i ? 'class="active"' : '' }}><a href="{{ path('product', { 'page': i }) }}">{{ i }}</a></li>
        {% endfor %}
    </ul>

    <form name="toCartForm" action="{{ path('cart_add') }}" method="post">
        <input type="hidden" value="" name="toCart">
    </form>

{% endblock %}

{% block javascript %}
    <script>
        function submitToCart()
        {
            var checkedValues = $('.productSelect:checked').map(function() {
                return this.value;
            }).get();

            if (checkedValues != '') {
                $('input[name="toCart"]').val(checkedValues);
                $('form[name="toCartForm"]').submit();
            }
        }
    </script>
{% endblock %}
