{% extends "::base.html.twig" %}

{% block title %}AppBundle:Payment:captureAuthorizeNetDone{% endblock %}

{% block body %}
<h1>Welcome to the Payment:captureAuthorizeNetDone page</h1>
{% endblock %}
