{% extends "::base.html.twig" %}

{% block title %}AppBundle:Payment:prepareAuthorizeNetPayment{% endblock %}

{% block body %}
<h1>Welcome to the Payment:prepareAuthorizeNetPayment page</h1>
{% endblock %}
