{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User list</h1>

    <div class="table-container">
        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>
                        <a href="{{ path('admin_user_show', { 'id': entity.id }) }}">{{ entity.username }}</a>
                    </td>
                    <td>
                        {{ entity.email }}
                    </td>
                    <td>
                        {{ entity.getOneRole }}
                    </td>
                    <td>
                        <ul>
                            <a href="{{ path('admin_user_show', { 'id': entity.id }) }}" class="btn btn-success">show</a>
                            <a href="{{ path('admin_user_edit', { 'id': entity.id }) }}" class="btn btn-warning">edit</a>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <a href="{{ path('admin_user_new') }}" class="btn btn-primary">
        New User
    </a>
{% endblock %}
