{% extends 'base.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {{ form_start(form) }}
        {{ form_errors(form) }}
    <div>
        {{ form_label(form.firstname) }}
        {{ form_errors(form.firstname) }}
        {{ form_widget(form.firstname) }}
    </div>
    <div>
        {{ form_label(form.lastname) }}
        {{ form_errors(form.lastname) }}
        {{ form_widget(form.lastname) }}
    </div>
    <div>
        {{ form_label(form.company) }}
        {{ form_errors(form.company) }}
        {{ form_widget(form.company) }}
    </div>
    <div>
        {{ form_label(form.address) }}
        {{ form_errors(form.address) }}
        {{ form_widget(form.address) }}
    </div>
    <div>
        {{ form_label(form.city) }}
        {{ form_errors(form.city) }}
        {{ form_widget(form.city) }}
    </div>
    <div>
        {{ form_label(form.state) }}
        {{ form_errors(form.state) }}
        {{ form_widget(form.state) }}
    </div>
    <div>
        {{ form_label(form.country) }}
        {{ form_errors(form.country) }}
        {{ form_widget(form.country) }}
    </div>
    <div>
        {{ form_label(form.zip) }}
        {{ form_errors(form.zip) }}
        {{ form_widget(form.zip) }}
    </div>
    <div>
        {{ form_label(form.email) }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email) }}
    </div>
    <div>
        {{ form_label(form.ccard) }}
        {{ form_errors(form.ccard) }}
        {{ form_widget(form.ccard) }}
    </div>
    <div>
        {{ form_label(form.ccardexp) }}
        {{ form_errors(form.ccardexp) }}
        {{ form_widget(form.ccardexp) }}
    </div>
    <div>
        {{ form_label(form.ccardsecuritycode) }}
        {{ form_errors(form.ccardsecuritycode) }}
        {{ form_widget(form.ccardsecuritycode) }}
    </div>

    <div class="table-container">
        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>SubTotal Price</th>
            </tr>
            </thead>
            <tbody>
            {% set total = 0 %}
            {% for entity in entities %}
                {% set total = total + entity.subtotalprice %}
                <tr>
                    <td>
                        {{ entity.title }}
                    </td>
                    <td>
                        {{ entity.quantity }}
                    </td>
                    <td>
                        {{ entity.price|number_format(2) }}
                    </td>
                    <td>
                        {{ entity.subtotalprice|number_format(2) }}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td><strong>Total</strong></td>
                <td></td><td></td>
                <td>{{ total|number_format(2) }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    {{ form_widget(form.amount, {'attr': {'value': total}}) }}

    {{ form_end(form) }}
{% endblock %}

{% block javascript %}
    <script>
        $('#appbundle_customer_ccardexp_day').hide();
    </script>
{% endblock %}