{% extends '::base.html.twig' %}

{% block body -%}
    <h1 xmlns="http://www.w3.org/1999/html">Cart</h1>

    <form id="modCartForm" name="modCartForm" action="{{ path('cart_update') }}" method="post">
        <div>
            <a href="#" class="btn btn-warning" role="button" onclick="submitDelFromCart()">Delete from Cart</a>
            <a href="{{ path('cart_clear') }}" class="btn btn-danger" role="button">Clear Cart</a>
            <a href="#" class="btn btn-success" role="button" onclick="submitModCart()">Update Cart</a>
        </div>

        <div class="table-container">
            <table class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th></th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>SubTotal Price</th>
                </tr>
                </thead>
                <tbody>
                {% set total = 0 %}
                {% for entity in entities %}
                    {% set total = total + entity.subtotalprice %}
                    <tr>
                        <td>
                            <input type="checkbox" name="select{{ entity.id }}" value="{{ entity.id }}"
                                   class="productSelect"/>
                        </td>
                        <td>
                            {{ entity.title }}
                        </td>
                        <td>
                            <input type="text" value="{{ entity.quantity }}" name="qty[{{ entity.id }}]">
                        </td>
                        <td>
                            {{ entity.price|number_format(2) }}
                        </td>
                        <td>
                            {{ entity.subtotalprice|number_format(2) }}
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td><strong>Total</strong></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ total|number_format(2) }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>

    <form name="delFromCartForm" action="{{ path('cart_delete') }}" method="post">
        <input type="hidden" value="" name="delFromCart">
    </form>

    <a href="{{ path('cart_checkout') }}" class="btn btn-primary">
        Proceed to Checkout
    </a>

{% endblock %}

{% block javascript %}
    <script>
        function submitDelFromCart() {
            var checkedValues = $('.productSelect:checked').map(function () {
                return this.value;
            }).get();

            if (checkedValues != '') {
                $('input[name="delFromCart"]').val(checkedValues);
                $('form[name="delFromCartForm"]').submit();
            }
        }

        function submitModCart() {
            $('form[name="modCartForm"]').submit();
        }
    </script>
{% endblock %}
